"" Source your .vimrc
"source ~/.vimrc

" turn hybrid line numbers on
set number relativenumber
set nu rnu

" turn off error bells
set visualbell
set noerrorbells

let mapleader = ","

noremap <Leader>y "+y
noremap <Leader>p "+p
noremap <Leader>Y "*Y
noremap <Leader>P "*P

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
nnoremap <Leader>vc <Action> Vcs.QuickListPopupAction<CR>

" Find more examples here: https://jb.gg/share-ideavimrc
" fix actions
nnoremap <Leader>fc <Action> ReformatCode<CR>
nnoremap <Leader>fi <Action> OptimizeImports<CR>
nnoremap <Leader>fa <Action> ShowIntentionActions<CR><Esc>

" navigation ans search
nnoremap <Leader>su <Action> ShowUsages<CR>
nnoremap <Leader>sU <Action> FindUsages<CR>
nnoremap <Leader>si <Action> GotoImplementation<CR>
nnoremap <Leader>ss <Action> GotoSuperMethod<CR>
nnoremap <Leader>sd <Action> QuickImplementations<CR>
nnoremap <Leader>st <Action> GotoTypeDeclaration<CR>
